@charset "utf-8";


button {
    border: none;
}

.slider {
    width: 1400px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.slider>ul>li {
    width: 1400px;
    height: 480px;
    background-size: 1400px 480px;
}

.slider>ul>li:nth-child(1)>h1 {
    color: #fff;
    margin: 200px 10px 10px 60px;
}

.slider>ul>li:nth-child(1)>h3 {
    color: #fff;
    margin: 10px 10px 10px 120px;
}

.slider>ul>li:nth-child(2)>h1 {
    color: #fff;
    margin: 185px 10px 10px 60px;
}

.slider>ul>li:nth-child(2)>h3 {
    color: #fff;
    margin: 10px 10px 10px 60px;
}

.slider>ul>li:nth-child(3)>h1 {
    color: #fff;
    margin: 190px 10px 10px 60px;
}

.slider>ul>li:nth-child(4)>h1 {
    color: #fff;
    margin: 130px 10px 10px 60px;
}


.slider input[type=radio] {
    display: none;
}

ul.imgs {
    padding: 0;
    margin: 0;
}

ul.imgs li {
    position: absolute;
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    transition-delay: 0.9s;
}

.bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}

.bullets label {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1) {
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2) {
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3) {
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4) {
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

/* #reservation {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    
    
}

#reservation>.box1 {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #96ceee
}

#reservation>.box1>.ticket {
    width: 1200px;
    height: 25px;
}

#reservation>.box1>.ticket > p {float: left; color: #022044; margin-top: 5px; margin-left: 35px; }
#reservation>.box1>.ticket > p ~ p {margin-left: 250px;} */






/* #reservation>.box1>.ticket>button {
    width: 90px;
    height: 35px;
    float: left;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: #77c3f0;
    color: rgb(228, 228, 228);
} */

/* #re {
    width: 1200px;
    height: 130px;
    background-color: rgb(232, 245, 253);
    border-radius: 20px;
    margin-top: 10px;
}

#re>p {
    width: 250px;
    height: 100px;
    margin-left: -340px;
    float: left;
    margin-top: 40px;
}

#re>p~p {
    width: 250px;
    height: 100px;
    float: left;
    margin-left: -64px;
    margin-top: 40px;
}

#re>p~p~p {
    width: 250px;
    height: 100px;
    float: left;
    margin-top: 58px;
    margin-left: 10px;
}

#re>p~p~p~p {
    width: 250px;
    height: 100px;
    float: left;
    margin-left: -47px;
    margin-top: 38px;
}

#re>p>button {
    width: 50px;
    height: 30px;

    margin-top: 20px;
    background-color: #77c3f0;
    color: #fff;
}

#re > p > button:hover {opacity: 0.3;}

#re>button {
    width: 100px;
    height: 35px;
    float: right;
    margin-top: 55px;
    margin-right: 32px;
    background-color: #77c3f0;
    color: #fff;
}
#re>button:hover {opacity: 0.3;}

#re > .t1 { width: 90px;
    height: 35px;
    float: left;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: #77c3f0;
    color: #fff;}

#re > .t1:hover {opacity: 0.3;}

    #re > .t2 { width: 90px;
    height: 35px;
    float: left;
    border-radius: 20px;
    margin-left: -3px;
    margin-top: 10px;
    background-color: #77c3f0;
    color: #fff;}

    #re > .t2:hover {opacity: 0.3;}

    #re > .t3 { width: 90px;
    height: 35px;
    float: left;
    border-radius: 20px;
    margin-left: -4px;
    margin-top: 10px;
    background-color: #77c3f0;
    color: #fff;}

    #re > .t3:hover {opacity: 0.3;}

input {
    width: 150px;
    height: 35px;
    font-size: 15px;
    border: 0;
    
    outline: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 23, 58);
    margin-right: 3px;
} */


/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* body {
height: 100vh;
margin: 0;  
background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
color: #363c44;
font-size: 14px;
font-family: 'Roboto', sans-serif;
} */
/* 
@mixin center {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
*/

/*--------------------
Boarding Pass
--------------------*/
.boarding-pass {

    width: 350px;
    height: 382px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    overflow: hidden;
    text-transform: uppercase;
    position: absolute;
    top: 130px;
    right: 50px;
    z-index: 3;
}

small {
    display: block;
    font-size: 11px;
    color: #A2A9B3;
    margin-bottom: 2px;
}

strong {
    font-size: 15px;
    display: block;
}

/*--------------------
Header
--------------------*/
#pass {
    background: linear-gradient(to bottom, #36475f, #2c394f);
    padding: 12px 20px;
    height: 53px;
}

#lo {
    float: left;
    width: 180px;
    height: 31px;
}

#lo img {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

#lo>p {
    font-size: 20px;
    color: #fff;
    float: left;
    margin-top: 0px;
}

/* .logo {
float: left;
width: 104px;
height: 31px;
} */

.flight {
    float: right;
    color: #fff;
    text-align: right;
}



.flight>small {
    font-size: 8px;
    margin-bottom: 2px;
    opacity: 0.8;
}

.flight>strong {
    font-size: 18px;
    margin-top: -3px;
}



/*--------------------
Cities
--------------------*/
.cities {
    position: relative;
}

.cities::after {
    content: '';
    display: table;
    clear: both;
}

.city {
    padding: 10px 18px;
    float: left;
}

.city:nth-child(2) {
    float: right;
}

.city>strong {
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
}

.city>small {
    margin-bottom: 0px;
    margin-left: 3px;
}


.airplane {
    position: absolute;
    width: 30px;
    height: 25px;
    top: 57%;
    left: 30%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: move 4s infinite;
}

@keyframes move {
    40% {
        left: 50%;
        opacity: 1;
    }

    100% {
        left: 70%;
        opacity: 0;
    }
}



/*--------------------
Infos
--------------------*/
.infos {
    display: flex;
    border-top: 1px solid #36475f;
}

.places,
.times {
    width: 50%;
    padding: 10px 0;
}

.places,
.times::after {
    content: '';
    display: table;
    clear: both;
}


/* .times {} */

.times>strong {
    transform: scale(0.9);
    transform-origin: left bottom;
}


.places {
    background: #E2EFE2;
    border-right: 1px solid #36475f;
}

.places>small {
    color: #97A1AD;
}

.places>strong {
    color: #77c3f0;
}


.box {
    padding: 10px 20px 10px;
    width: 47%;
    float: left;
}

.box>small {
    font-size: 10px;
}




/*--------------------
Strap
--------------------*/
.strap {
    clear: both;
    position: relative;
    border-top: 1px solid #36475f;
}

.strap::after {
    content: '';
    display: table;
    clear: both;
}

.box {
    padding: 6px 0 16px 22px;
}

.box>div {
    margin-bottom: 15px;
}

.box>small {
    font-size: 10px;
}

.box>strong {
    font-size: 13px;
}


.box>sup {
    font-size: 8px;
    position: relative;
    top: -5px;
}

.qrcode {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
}






#list {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

#list>ul {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#list>ul>li:nth-of-type(1) {
    width: 380px;
    height: 50px;
    float: left;
}

#list>ul>li:nth-of-type(2) {
    width: 380px;
    height: 50px;
    float: left;
}

#list>ul>li:nth-of-type(3) {
    width: 380px;
    height: 50px;
    float: left;
}

#list>ul>li img {
    width: 40px;
    height: 40px;
    margin: 25px 20px -10px 0px;
}

#list>ul>li>a {
    text-align: center;
}

#back {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

#back>p {
    color: #fff;
    margin-top: -85px;
    margin-left: 50px;
    text-align: left;
}



.swiper-container {
    width: 1200px;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    /* width: 50px; */
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img:hover {
    opacity: 0.8;
}

.swiper-container .swiper-button-prev {
    left: 0 !important;
}

.swiper-container .swiper-button-next {
    right: 0 !important;
}

#event {
    width: 100%;
    height: 425px;
    margin: 0 auto;
    margin-top: -300px;
    background-color: #f3f4f8;
}

#event>.bo1 {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
}

#event>.bo1>.box1 {
    width: 500px;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: 273px;
    margin-left: 45px;
    background-color: #fff;
}

#event>.bo1>.box1>a {
    font-size: 15px;
    text-align: center;

}

#event>.bo1>.box1:hover {
    outline: 0;
    border-radius: 0.3rem;
    box-shadow: inset 0 0 0 1px #022044;
}

#event>.bo1>.box1>a>h3 {
    margin-top: -25px;
}

#event>.bo1>.box2 {
    width: 500px;
    height: 100px;
    float: right;
    text-align: center;
    margin-top: 273px;
    margin-right: 45px;
    background-color: #fff;
}

#event>.bo1>.box2>a {
    font-size: 15px;
    text-align: center;
}

#event>.bo1>.box2:hover {
    outline: 0;
    border-radius: 0.3rem;
    box-shadow: inset 0 0 0 1px #022044;

}

#event>.bo1>.box2>a>h3 {
    margin-top: -25px;
}

#Advertis {
    width: 100%;
    height: 400px;
    margin: 0;
    margin-top: 0px;
    /* background-image: url('img/map2.png') no-repeat; */
    /* background: url(img/bb.png) no-repeat; */
    /* background-color: #77c3f0;  */
    /* background-position: center; */
    /* min-width: 1200px; */
}



#Advertis>.u2 {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    
}

#Advertis>.u2>.dii1 {
    width: 580px;
    height: 300px;
    float: left;
    margin-top: 25px;

}



#Advertis>.u2>.dii1 img {
    width: 580px;
    height: 300px;
    
}

#Advertis>.u2>.dii2 {
    width: 600px;
    height: 300px;
    float: right;
    margin: 90px 0px 0px 0px;
    text-align: center;
}

#back2 {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

#back2>p {
    color: rgb(8, 8, 49);
    margin-top: -85px;
    margin-left: 50px;
    text-align: left;
}

#mi {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
}

#mi>h3 {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
}

#mi>ul {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    border: 1px solid gray;
    padding: 30px 0px 100px 0px;
}

#mi>ul>li>a {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center
}


